body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: o; /*space outside from border*/
    padding: 0;

}

header {
    background-color: rgb(203, 132, 78);
    color: rgb(251, 251, 253);
    padding: 20 px; /*space inside from border*/
    
}

nav {
    height: 5ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
nav li {
    margin: 0px 80px 10px 0px;

}
main {
    max-width: 800px;
    margin: 0;
    padding: 25px;
}
section {
    margin-bottom: 0px;
    margin-top: 0px;
}
section h2 {
    margin: 0 0 20px 0;
    font-size: 18px;
}
footer {
    background-color: brown;
    color: blueviolet;
    padding: 10px;
    

}









